In [2]:
import env
import os
import acquire as a
import prepare as p
import wrangle as w
#import modeling as m
#import evaluate as e
# Ignore Warning
import warnings
warnings.filterwarnings("ignore")
# Array and Dataframes
import numpy as np
import pandas as pd
# Evaluation: Visualization
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn.preprocessing import MinMaxScaler

In [3]:
zillow = a.zillow()

File exists, pulling from system.

In [4]:
zillow.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,10712236,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,6.037113e+13,0.153774,2017-01-06,Central,NaN,NaN,Central,NaN,NaN,NaN
1,10712908,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,NaN,...,6.037113e+13,-0.132414,2017-01-12,Central,NaN,NaN,Central,NaN,NaN,NaN
2,10712949,1.0,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,...,6.037113e+13,0.003707,2017-01-13,Central,NaN,NaN,Central,NaN,NaN,NaN
3,10713127,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,NaN,...,6.037113e+13,0.013564,2017-01-13,NaN,NaN,NaN,Central,NaN,NaN,NaN
4,10716435,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,NaN,...,6.037134e+13,0.029961,2017-01-17,NaN,NaN,NaN,Central,NaN,NaN,NaN

In [5]:
train, validate, test = a.splitter(zillow)

Dataframe: (2140882, 67) 100%
Train: (1370164, 67) | ~60%
Validate: (342541, 67) | ~20%
Test: (428177, 67) | ~20%

In [6]:
w.summarize(train)

=======================
=====   SHAPE   =====
=======================
(1370164, 67)
========================
=====   INFO   =====
========================
<class 'pandas.core.frame.DataFrame'>
Index: 1370164 entries, 1575798 to 1233670
Data columns (total 67 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   parcelid                      1370164 non-null  int64
 1   airconditioningtypeid         329130 non-null   float64
 2   architecturalstyletypeid      1537 non-null     float64
 3   basementsqft                  991 non-null      float64
 4   bathroomcnt                   1370164 non-null  float64
 5   bedroomcnt                    1370164 non-null  float64
 6   buildingclasstypeid           0 non-null        float64
 7   buildingqualitytypeid         908452 non-null   float64
 8   calculatedbathnbr             1369182 non-null  float64
 9   decktypeid                    7930 non-null     float64
 10  finishedfloor1squarefeet      104608 non-null   float64
 11  calculatedfinishedsquarefeet  1370009 non-null  float64
 12  finishedsquarefeet12          1365089 non-null  float64
 13  finishedsquarefeet13          0 non-null        float64
 14  finishedsquarefeet15          4 non-null        float64
 15  finishedsquarefeet50          104608 non-null   float64
 16  finishedsquarefeet6           4918 non-null     float64
 17  fips                          1370164 non-null  float64
 18  fireplacecnt                  183665 non-null   float64
 19  fullbathcnt                   1369182 non-null  float64
 20  garagecarcnt                  446988 non-null   float64
 21  garagetotalsqft               446988 non-null   float64
 22  hashottuborspa                31473 non-null    float64
 23  heatingorsystemtypeid         911598 non-null   float64
 24  latitude                      1370164 non-null  float64
 25  longitude                     1370164 non-null  float64
 26  lotsizesquarefeet             1362819 non-null  float64
 27  poolcnt                       264131 non-null   float64
 28  poolsizesum                   17801 non-null    float64
 29  pooltypeid10                  10497 non-null    float64
 30  pooltypeid2                   20976 non-null    float64
 31  pooltypeid7                   242844 non-null   float64
 32  propertycountylandusecode     1370164 non-null  object
 33  propertylandusetypeid         1370164 non-null  float64
 34  propertyzoningdesc            910759 non-null   object
 35  rawcensustractandblock        1370164 non-null  float64
 36  regionidcity                  1345038 non-null  float64
 37  regionidcounty                1370164 non-null  float64
 38  regionidneighborhood          496641 non-null   float64
 39  regionidzip                   1368664 non-null  float64
 40  roomcnt                       1370161 non-null  float64
 41  storytypeid                   990 non-null      float64
 42  threequarterbathnbr           148292 non-null   float64
 43  typeconstructiontypeid        1702 non-null     float64
 44  unitcnt                       910938 non-null   float64
 45  yardbuildingsqft17            45685 non-null    float64
 46  yardbuildingsqft26            1575 non-null     float64
 47  yearbuilt                     1369321 non-null  float64
 48  numberofstories               377984 non-null   float64
 49  fireplaceflag                 1828 non-null     float64
 50  structuretaxvaluedollarcnt    1368467 non-null  float64
 51  taxvaluedollarcnt             1370085 non-null  float64
 52  assessmentyear                1370164 non-null  float64
 53  landtaxvaluedollarcnt         1370084 non-null  float64
 54  taxamount                     1368536 non-null  float64
 55  taxdelinquencyflag            26159 non-null    object
 56  taxdelinquencyyear            26159 non-null    float64
 57  censustractandblock           1364838 non-null  float64
 58  logerror                      33528 non-null    float64
 59  transactiondate               33528 non-null    object
 60  airconditioningdesc           323749 non-null   object
 61  architecturalstyledesc        1537 non-null     object
 62  buildingclassdesc             0 non-null        float64
 63  heatingorsystemdesc           911305 non-null   object
 64  propertylandusedesc           0 non-null        float64
 65  storydesc                     990 non-null      object
 66  typeconstructiondesc          1702 non-null     object
dtypes: float64(57), int64(1), object(9)
memory usage: 710.8+ MB
None
========================
=====   DESCRIBE   =====
========================
|                              |            count |             mean |              std |             min |              25% |              50% |              75% |              max |
|:-----------------------------|-----------------:|-----------------:|-----------------:|----------------:|-----------------:|-----------------:|-----------------:|-----------------:|
| parcelid                     |      1.37016e+06 |      1.30528e+07 |      4.59542e+06 |     1.07117e+07 |      1.1657e+07  |      1.25972e+07 |      1.40537e+07 |      1.68184e+08 |
| airconditioningtypeid        | 329130           |      2.40708     |      3.78732     |     1           |      1           |      1           |      1           |     13           |
| architecturalstyletypeid     |   1537           |      7.20169     |      2.79712     |     2           |      7           |      7           |      7           |     21           |
| basementsqft                 |    991           |    647.179       |    564.101       |    20           |    264.5         |    516           |    870.5         |   8516           |
| bathroomcnt                  |      1.37016e+06 |      2.24297     |      0.987381    |     0           |      2           |      2           |      3           |     20           |
| bedroomcnt                   |      1.37016e+06 |      3.30533     |      0.925275    |     0           |      3           |      3           |      4           |     18           |
| buildingclasstypeid          |      0           |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| buildingqualitytypeid        | 908452           |      6.1461      |      1.69668     |     1           |      4           |      6           |      8           |     12           |
| calculatedbathnbr            |      1.36918e+06 |      2.2439      |      0.986443    |     1           |      2           |      2           |      3           |     20           |
| decktypeid                   |   7930           |     66           |      0           |    66           |     66           |     66           |     66           |     66           |
| finishedfloor1squarefeet     | 104608           |   1499.62        |    633.426       |     3           |   1129           |   1374           |   1699           |  17748           |
| calculatedfinishedsquarefeet |      1.37001e+06 |   1863.62        |   1338.42        |     1           |   1258           |   1623           |   2208           | 952576           |
| finishedsquarefeet12         |      1.36509e+06 |   1864.89        |    962.417       |     1           |   1260           |   1625           |   2210           |  45891           |
| finishedsquarefeet13         |      0           |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| finishedsquarefeet15         |      4           |   2123           |   1098.84        |   512           |   1946           |   2502           |   2679           |   2976           |
| finishedsquarefeet50         | 104608           |   1514.51        |    692.989       |     3           |   1133           |   1377           |   1706           |  41906           |
| finishedsquarefeet6          |   4918           |   1510.45        |  15551.4         |   117           |    800           |    970.5         |   1306.75        | 952576           |
| fips                         |      1.37016e+06 |   6048.33        |     20.3666      |  6037           |   6037           |   6037           |   6059           |   6111           |
| fireplacecnt                 | 183665           |      1.17844     |      0.474322    |     1           |      1           |      1           |      1           |      9           |
| fullbathcnt                  |      1.36918e+06 |      2.18901     |      0.966106    |     1           |      2           |      2           |      3           |     20           |
| garagecarcnt                 | 446988           |      1.92663     |      0.568114    |     0           |      2           |      2           |      2           |     25           |
| garagetotalsqft              | 446988           |    488.549       |    160.026       |     0           |    420           |    460           |    537           |   7749           |
| hashottuborspa               |  31473           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| heatingorsystemtypeid        | 911598           |      4.10759     |      2.5607      |     1           |      2           |      2           |      7           |     24           |
| latitude                     |      1.37016e+06 |      3.40072e+07 | 247813           |     3.33399e+07 |      3.38321e+07 |      3.40042e+07 |      3.41703e+07 |      3.48196e+07 |
| longitude                    |      1.37016e+06 |     -1.18191e+08 | 343294           |    -1.19475e+08 |     -1.18384e+08 |     -1.18144e+08 |     -1.17944e+08 |     -1.17554e+08 |
| lotsizesquarefeet            |      1.36282e+06 |  10824           | 326843           |   104           |   5637           |   6758           |   8526           |      3.71001e+08 |
| poolcnt                      | 264131           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| poolsizesum                  |  17801           |    519.361       |    167.466       |    20           |    432           |    495           |    594           |   6000           |
| pooltypeid10                 |  10497           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid2                  |  20976           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid7                  | 242844           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| propertylandusetypeid        |      1.37016e+06 |    261           |      0           |   261           |    261           |    261           |    261           |    261           |
| rawcensustractandblock       |      1.37016e+06 |      6.04864e+07 | 202143           |     6.0371e+07  |      6.0374e+07  |      6.03757e+07 |      6.05904e+07 |      6.11101e+07 |
| regionidcity                 |      1.34504e+06 |  35081           |  52360.4         |  3491           |  12447           |  24832           |  44833           | 396556           |
| regionidcounty               |      1.37016e+06 |   2553.38        |    795.285       |  1286           |   1286           |   3101           |   3101           |   3101           |
| regionidneighborhood         | 496641           | 186584           | 161941           |  6952           |  41466           | 118825           | 274695           | 764167           |
| regionidzip                  |      1.36866e+06 |  96587.8         |   4245.16        | 95982           |  96192           |  96387           |  96987           | 399675           |
| roomcnt                      |      1.37016e+06 |      1.87523     |      3.12782     |     0           |      0           |      0           |      5           |     86           |
| storytypeid                  |    990           |      7           |      0           |     7           |      7           |      7           |      7           |      7           |
| threequarterbathnbr          | 148292           |      1.01355     |      0.1339      |     1           |      1           |      1           |      1           |      6           |
| typeconstructiontypeid       |   1702           |      5.98649     |      0.348583    |     4           |      6           |      6           |      6           |     13           |
| unitcnt                      | 910938           |      1.00137     |      0.151392    |     1           |      1           |      1           |      1           |    102           |
| yardbuildingsqft17           |  45685           |    340.506       |    238.991       |    11           |    200           |    288           |    400           |   7983           |
| yardbuildingsqft26           |   1575           |    263.69        |    309.572       |    10           |     96           |    160           |    311           |   3000           |
| yearbuilt                    |      1.36932e+06 |   1960.94        |     22.1512      |  1801           |   1949           |   1958           |   1975           |   2016           |
| numberofstories              | 377984           |      1.38485     |      0.534431    |     1           |      1           |      1           |      2           |     14           |
| fireplaceflag                |   1828           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| structuretaxvaluedollarcnt   |      1.36847e+06 | 178040           | 251540           |     9           |  74327           | 122499           | 203602           |      3.7008e+07  |
| taxvaluedollarcnt            |      1.37008e+06 | 460976           | 679458           |     9           | 189207           | 328427           | 534645           |      8.80204e+07 |
| assessmentyear               |      1.37016e+06 |   2016           |      0.0423067   |  2011           |   2016           |   2016           |   2016           |   2016           |
| landtaxvaluedollarcnt        |      1.37008e+06 | 283146           | 490776           |     9           |  80400           | 184355           | 345548           |      7.76651e+07 |
| taxamount                    |      1.36854e+06 |   5620.14        |   7832.35        |    16.48        |   2544.3         |   4114.62        |   6412.38        |      1.05207e+06 |
| taxdelinquencyyear           |  26159           |     13.8854      |      1.97728     |     1           |     14           |     14           |     15           |     99           |
| censustractandblock          |      1.36484e+06 |      6.04864e+13 |      4.23911e+11 |    -1           |      6.0374e+13  |      6.03757e+13 |      6.05904e+13 |      4.8303e+14  |
| logerror                     |  33528           |      0.0179735   |      0.176459    |    -4.65542     |     -0.0246429   |      0.00664553  |      0.0401675   |      3.17569     |
| buildingclassdesc            |      0           |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| propertylandusedesc          |      0           |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
==========================
=====   DATA TYPES   =====
==========================
|                           |            count |   unique | top          |   freq |
|:--------------------------|-----------------:|---------:|:-------------|-------:|
| propertycountylandusecode |      1.37016e+06 |       48 | 0100         | 718055 |
| propertyzoningdesc        | 910759           |     3714 | LAR1         | 167539 |
| taxdelinquencyflag        |  26159           |        1 | Y            |  26159 |
| transactiondate           |  33528           |      247 | 2017-06-30   |    500 |
| airconditioningdesc       | 323749           |        6 | Central      | 286842 |
| architecturalstyledesc    |   1537           |        7 | Contemporary |   1354 |
| heatingorsystemdesc       | 911305           |       10 | Central      | 529976 |
| storydesc                 |    990           |        1 | Basement     |    990 |
| typeconstructiondesc      |   1702           |        4 | Frame        |   1678 |
==============================
=====   MISSING VALUES   =====
==============================
==========================
=====   BY COLUMNS   =====
==========================
|                              |                0 |
|:-----------------------------|-----------------:|
| parcelid                     |      0           |
| airconditioningtypeid        |      1.04103e+06 |
| architecturalstyletypeid     |      1.36863e+06 |
| basementsqft                 |      1.36917e+06 |
| bathroomcnt                  |      0           |
| bedroomcnt                   |      0           |
| buildingclasstypeid          |      1.37016e+06 |
| buildingqualitytypeid        | 461712           |
| calculatedbathnbr            |    982           |
| decktypeid                   |      1.36223e+06 |
| finishedfloor1squarefeet     |      1.26556e+06 |
| calculatedfinishedsquarefeet |    155           |
| finishedsquarefeet12         |   5075           |
| finishedsquarefeet13         |      1.37016e+06 |
| finishedsquarefeet15         |      1.37016e+06 |
| finishedsquarefeet50         |      1.26556e+06 |
| finishedsquarefeet6          |      1.36525e+06 |
| fips                         |      0           |
| fireplacecnt                 |      1.1865e+06  |
| fullbathcnt                  |    982           |
| garagecarcnt                 | 923176           |
| garagetotalsqft              | 923176           |
| hashottuborspa               |      1.33869e+06 |
| heatingorsystemtypeid        | 458566           |
| latitude                     |      0           |
| longitude                    |      0           |
| lotsizesquarefeet            |   7345           |
| poolcnt                      |      1.10603e+06 |
| poolsizesum                  |      1.35236e+06 |
| pooltypeid10                 |      1.35967e+06 |
| pooltypeid2                  |      1.34919e+06 |
| pooltypeid7                  |      1.12732e+06 |
| propertycountylandusecode    |      0           |
| propertylandusetypeid        |      0           |
| propertyzoningdesc           | 459405           |
| rawcensustractandblock       |      0           |
| regionidcity                 |  25126           |
| regionidcounty               |      0           |
| regionidneighborhood         | 873523           |
| regionidzip                  |   1500           |
| roomcnt                      |      3           |
| storytypeid                  |      1.36917e+06 |
| threequarterbathnbr          |      1.22187e+06 |
| typeconstructiontypeid       |      1.36846e+06 |
| unitcnt                      | 459226           |
| yardbuildingsqft17           |      1.32448e+06 |
| yardbuildingsqft26           |      1.36859e+06 |
| yearbuilt                    |    843           |
| numberofstories              | 992180           |
| fireplaceflag                |      1.36834e+06 |
| structuretaxvaluedollarcnt   |   1697           |
| taxvaluedollarcnt            |     79           |
| assessmentyear               |      0           |
| landtaxvaluedollarcnt        |     80           |
| taxamount                    |   1628           |
| taxdelinquencyflag           |      1.344e+06   |
| taxdelinquencyyear           |      1.344e+06   |
| censustractandblock          |   5326           |
| logerror                     |      1.33664e+06 |

In [24]:
def handle_missing_values(df, column_percent=.6, row_percent=.6):
    '''
    Values in 'column_percent' & 'row_percent' should be a decimal between 0-1
    this will indicate how much of the values or columns will be retained based on percentage of missing values.

    The higher the decimal the lower the threshold, vice versa. It will be the inverse of what is put -- (ex. 0.8 means values that have at least 80%
    of none nulls will not be dropped.)
    '''

    col_limit = int(len(df.columns) * column_percent)
    row_limit = int(len(df.columns) * row_percent)
    df.dropna(thresh=col_limit,axis=1,inplace=True)
    df.dropna(thresh=row_limit,axis=0,inplace=True)

    return df

In [25]:
zillowcopy = zillow.copy()

In [26]:
df = handle_missing_values(zillowcopy)
df

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,storydesc,typeconstructiondesc
1636,14081891,NaN,7.0,NaN,2.5,3.0,NaN,2.5,NaN,NaN,...,NaN,NaN,6.059100e+13,0.011913,2017-01-03,NaN,Contemporary,Forced air,NaN,Frame
1705,14159038,1.0,7.0,NaN,2.0,3.0,NaN,2.0,NaN,NaN,...,NaN,NaN,6.059002e+13,0.030711,2017-01-12,Central,Contemporary,Forced air,NaN,Frame
1725,14172985,1.0,7.0,NaN,2.5,4.0,NaN,2.5,NaN,NaN,...,NaN,NaN,6.059012e+13,0.007491,2017-01-03,Central,Contemporary,Forced air,NaN,Frame
1775,14215602,1.0,NaN,NaN,2.0,3.0,NaN,2.0,NaN,NaN,...,NaN,NaN,6.059022e+13,0.019404,2017-01-05,Central,NaN,Forced air,NaN,Frame
1828,14287849,1.0,7.0,NaN,2.0,3.0,NaN,2.0,NaN,NaN,...,NaN,NaN,6.059053e+13,-0.026650,2017-01-09,Central,Contemporary,Forced air,NaN,Frame
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2136618,17097816,NaN,NaN,273.0,2.5,3.0,NaN,2.5,66.0,1656.0,...,NaN,NaN,6.111001e+13,0.018000,2017-03-08,NaN,NaN,NaN,Basement,NaN
2138472,17194590,NaN,NaN,NaN,5.5,5.0,NaN,5.5,66.0,3253.0,...,NaN,NaN,6.111006e+13,-0.023768,2017-05-03,NaN,NaN,NaN,NaN,NaN
2138750,17207797,NaN,NaN,670.0,2.5,3.0,NaN,2.5,66.0,2520.0,...,NaN,NaN,6.111005e+13,NaN,NaN,NaN,NaN,NaN,Basement,NaN
2140509,17284977,NaN,NaN,209.0,6.5,6.0,NaN,6.5,66.0,7530.0,...,NaN,NaN,6.111007e+13,NaN,NaN,NaN,NaN,NaN,Basement,NaN
2140648,17292779,NaN,NaN,1528.0,3.5,4.0,NaN,3.5,66.0,1407.0,...,NaN,NaN,6.111006e+13,NaN,NaN,NaN,NaN,NaN,Basement,NaN

# Mall Customers

1. Acquire data from the customers table in the mall_customers database.

In [10]:
mall = a.mall()

File exists, pulling from system.

In [11]:
w.summarize(mall)

=======================
=====   SHAPE   =====
=======================
(200, 5)
========================
=====   INFO   =====
========================
<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 9.4+ KB
None
========================
=====   DESCRIBE   =====
========================
|                |   count |   mean |     std |   min |   25% |   50% |    75% |   max |
|:---------------|--------:|-------:|--------:|------:|------:|------:|-------:|------:|
| customer_id    |     200 | 100.5  | 57.8792 |     1 | 50.75 | 100.5 | 150.25 |   200 |
| age            |     200 |  38.85 | 13.969  |    18 | 28.75 |  36   |  49    |    70 |
| annual_income  |     200 |  60.56 | 26.2647 |    15 | 41.5  |  61.5 |  78    |   137 |
| spending_score |     200 |  50.2  | 25.8235 |     1 | 34.75 |  50   |  73    |    99 |
==========================
=====   DATA TYPES   =====
==========================
|        |   count |   unique | top    |   freq |
|:-------|--------:|---------:|:-------|-------:|
| gender |     200 |        2 | Female |    112 |
==============================
=====   MISSING VALUES   =====
==============================
==========================
=====   BY COLUMNS   =====
==========================
|                |   0 |
|:---------------|----:|
| customer_id    |   0 |
| gender         |   0 |
| age            |   0 |
| annual_income  |   0 |
| spending_score |   0 |
=======================
=====   BY ROWS   =====
=======================
|    |   num_cols_missing |   percent_cols_missing |   num_rows |
|---:|-------------------:|-----------------------:|-----------:|
|  0 |                  0 |                      0 |        200 |
========================
=====   OUTLIERS   =====
========================
Outliers for Col customer_id:
lower:  -98.5 upper:  299.5
Series([], Name: customer_id, dtype: int64)
----------
Outliers for Col age:
lower:  -1.625 upper:  79.375
Series([], Name: age, dtype: int64)
----------
Outliers for Col annual_income:
lower:  -13.25 upper:  132.75
198    137
199    137
Name: annual_income, dtype: int64
----------
Outliers for Col spending_score:
lower:  -22.625 upper:  130.375
Series([], Name: spending_score, dtype: int64)
----------
None
================================
=====   THAT IS ALL, BYE   =====
================================

In [12]:
age_q1, age_q3 = mall['age'].quantile([.25,.75])

In [13]:
age_iqr = age_q3 - age_q1

In [14]:
age_upper = age_q3 * 1.5
age_lower = age_q1 * 1.5

In [15]:
mall[mall['age'] > age_upper]

Empty DataFrame
Columns: [customer_id, gender, age, annual_income, spending_score]
Index: []

In [16]:
train, validate, test = a.splitter(mall)

Dataframe: (200, 5) 100%
Train: (128, 5) | ~60%
Validate: (32, 5) | ~20%
Test: (40, 5) | ~20%

In [17]:
train = pd.get_dummies(train, drop_first=True)
train

     customer_id  age  annual_income  spending_score  gender_Male
129          130   38             71              75         True
190          191   34            103              23        False
35            36   21             33              81        False
130          131   47             71               9         True
147          148   32             77              74        False
..           ...  ...            ...             ...          ...
157          158   30             78              78        False
18            19   52             23              29         True
183          184   29             98              88        False
52            53   31             43              54        False
110          111   65             63              52         True

[128 rows x 5 columns]